body {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.interacts{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video-container, .canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

video, canvas {
    width: 100%;
}
.video, .canvas{
    width: 640px;
    height: 480px;
    border-radius: 10px; /* Adjust the border-radius as needed */
    overflow: hidden; /* Ensure content does not overflow rounded corners */
}


h2 {
    margin-top: 0;
}