<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera Capture</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="video-container">
        <h2>Video</h2>
        <video id="video" width="640" height="480" autoplay></video>
      </div>
      <div class="canvas-container">
        <h2>Canvas</h2>
        <canvas id="canvas" width="640" height="480"></canvas>
      </div>
    </div>
    <div class="interacts">
      <button id="capture">Capture</button>
      <a href="/register" class="button">Register</a>
    </div>
    <div id="message-container"></div>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const video = document.getElementById("video");
        const canvas = document.getElementById("canvas");
        const captureButton = document.getElementById("capture");

        let stream;

        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then((userStream) => {
            video.srcObject = userStream;
            stream = userStream; // Assign userStream to the global variable
          })
          .catch((error) => {
            console.error("Error accessing camera:", error);
          });

        captureButton.addEventListener("click", () => {
          const context = canvas.getContext("2d");

          context.drawImage(video, 0, 0, canvas.width, canvas.height);

          const imageDataURL = canvas.toDataURL("image/jpeg");

          sendImageData(imageDataURL);
        });

        function sendImageData(imageData) {
          fetch("/recognize", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ image: imageData }),
          })
            .then((response) => response.json())
            .then((data) => {
              const message = data.message;
              document.getElementById(
                "message-container"
              ).innerHTML = `<p>${message}</p>`;
              console.log("Response from backend:", data);
            })
            .catch((error) => {
              console.error("Error sending image data to the backend:", error);
            });
        }
      });
    </script>
  </body>
</html>
