<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facialbook</title>

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Shantell+Sans:500" as="style">
    <link rel="preload" href="{{ url_for('static', filename='css/normalize.css') }}" as="style">
    <link rel="preload" href="{{ url_for('static', filename='css/index.css') }}" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shantell+Sans:500">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <script src="{{ url_for('static', filename='js/index.js') }}" async></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <div id="logo-icon">
            <span id="logo-icon-letter">F</span>
        </div>
        <span id="logo-text">Facialbook</span>
    </header>
    <main>
        <div id="camera-div">
            <video poster="{{ url_for('static', filename='img/face.jpg') }}" id="camera" class="cam-swapping" width="350" height="350">📸</video>
        </div>
        <div id="swap-btn-div">
            <button id="swap-camera-btn" type="button">🔄 ...</button>
        </div>
        <div id="notebook-div">
            <textarea id="notebook"></textarea>
        </div>
    </main>
</body>
</html>