<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="{{ url_for('static', filename='css/normalize.css') }}" as="style">
    <link rel="preload" href="{{ url_for('static', filename='css/index.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <div id="logo-icon">
            <span id="logo-icon-letter">F</span>
        </div>
        <span id="logo-text">Facialbook</span>
    </header>
    
</body>
</html>