<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera Capture</title>
  </head>
  <body>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <a href="/" class="button">Home</a>
    <form id="registrationForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
    </form>

    <script>
      /*video is the video that is show on screen
        capture is the button that sends image + name to backend
        canvas draws image on screen
        href redirects Home
        registrationForm is for filling out name
        */
      document.addEventListener("DOMContentLoaded", (event) => {
        const video = document.getElementById("video");
        const canvas = document.getElementById("canvas");
        const captureButton = document.getElementById("capture");

        let stream;

        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then((userStream) => {
            video.srcObject = userStream;
            stream = userStream;
          })
          .catch((error) => {
            console.error("Error accessing camera:", error);
          });

        captureButton.addEventListener("click", () => {
          const context = canvas.getContext("2d");

          context.drawImage(video, 0, 0, canvas.width, canvas.height);

          const imageDataURL = canvas.toDataURL("image/jpeg");

          const name = registrationForm.elements["name"].value;

          sendImageData(imageDataURL, name);
        });

        function sendImageData(imageData, name) {
          fetch("/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ name: name, image: imageData }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Response from backend:", data);
            })
            .catch((error) => {
              console.error("Error sending image data to the backend:", error);
            });
        }
      });
    </script>
  </body>
</html>
