body {
    min-width: 400px;
    background-color: white;
}

header {
    margin: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-icon,
#logo-text {
    font-family: 'Tahoma';
    font-weight: 800;
    user-select: none;
}

#logo-text {
    font-size: 50px;
    color: #3C5898;
}

#logo-icon {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 13px;
    background-color: #3C5898;
    overflow: hidden;
}

#logo-icon-letter {
    scale: 0.8 1.1;
    position: absolute;
    right: 4px;
    bottom: -10px;
    font-size: 58px;
    color: white;
}